.bg-image-full {
    background-color: #333333;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 3rem;
    margin-top: 40px;
    width: 300px;
    height: auto;
}
.code {
    line-height: 24px;
}
