.bg-image-full {
    background-color: #333333;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 100%;
    height: 200px
}
.bg-image-full-img {
    background-color: #333333;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 54px !important;
    padding-top: 30px !important;
    padding-bottom: 0px !important;
    width: 100%;
    height: 235px
}
.img {
    background-image: url('https://lh3.googleusercontent.com/m02SkS2nIvkDklOuNC1zdrwJ-ZDZ-oQatW6r4Z6t8nMVQUb3hSZc3G6jeyOMHGLVX8FWmvW_HKqnKPK90fZJKPmGmccZT0yEXJFLDKmPoKLjpHlRMy-PslH_gDZhVrubYT-FZTHezQ=w2400');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px
}
.code {
    line-height: 24px;
}
